/*FOOTER*/
.footer-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
}
.footer-text p {
  padding: 0.2rem;
}
.footer-text a {
  text-decoration: none;
  color: #312d2d;
}
.footer-text a:active,
.footer-text a:visited {
  color: #443e3e;
}
