//Components
@import "./components/toDos";
@import "./components/newTodo";
@import "./components/toDoItem";
@import "./components/footer";
@import "./base/layout.scss";

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: inherit;
  margin-top: -5rem;
}

/*KEYFRAMES*/
@keyframes bouncingBtn {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(-15%);
  }
  80% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-30%);
  }
}

@-webkit-keyframes addItem {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes addItem {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes removeItem {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes removeItem {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
