* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  width: 60%;
  height: 600px;
  margin: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: inherit;
}
