body,
html,
.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-background);
  color: var(--text-color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.theme-dark {
  --theme-background: #161718;
  --text-color: #a82828;
  --s-button-color: #a82828;
  --l-button-color: #a82828;
  --tracker-btn: #a82828;
}
.theme-light {
  --theme-background: #e44a4a;
  --text-color: black;
  --s-button-color: #e44a4a;
  --l-button-color: #1e7e7ed7;
  --text-color: #443e3e;
  --tracker-btn: #312d2d;
}

@media screen and (min-width: 600px) {
  .form,
  .todos {
    width: 650px;
  }
}
@media screen and (min-width: 1200px) {
  .form,
  .todos {
    width: 960px;
  }
}
